body{
    background: url("./background_eudoxus3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.myNavbarDropdownInfo .dropdown-item:hover{
    /*box-shadow: 5px 5px #545b62;*/
    background-color: #17a2b8 !important;
    border-color:#0d6471 !important;
}

.user-info {
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-area h5 {
    font-size: 25px !important;
    margin-top: 10px;
}

span.my-svg-text {
    position: relative;
    top: -10px;
    margin-left: 0px;
}

.input-group-addon{
    background-color: #e9ecef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 30px;
    margin-left: -1px;
}

.my-calendar{
    cursor: pointer;
}

.input-group-addon a{
    color: black !important;
}

.input-group-addon .fa-eye-slash:before{
    font-size: 18px !important;
    position: relative;
    top:4px;
    left: 4px ;
}

.input-group-addon .fa-eye:before{
    font-size: 18px !important;
    position: relative;
    top:4px;
    left: 4px ;
}

.login-popup i.fa.fa-eye-slash {
    top: 3px;
    position: relative;
}

.login-popup i.fa.fa-eye {
    top: 3px;
    position: relative;
}

.my-question-popover:hover{
    color: red;
}

.my-nav-bar .navbar{
    min-width: 1300px;
}

.my-navbar-main-list{
    margin-left: 0;
}

.my-nav-bar .navbar-brand{
    margin-right:10px;
}

.my-search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.form-control.my-search-area:focus{
    border-color: #fff;
    box-shadow: none;
}

.my-login .label{
    margin-top: 15px;
}

.my-login .btn{
    box-shadow: 4px 4px #9fa1a2;
    background-color: #343940 !important;
    border-color: #343940 !important;
}

.my-login a.btn{
    color: #a8acad;
}

.my-signup .btn{
    box-shadow: 4px 4px #9fa1a2;
    background-color: #343940 !important;
    border-color: #343940 !important;
}

.my-signup a.btn{
    color: #a8acad;
}

.my-login a.btn:hover{
    color: #fffff3 !important;
}

.my-signup a.btn:hover{
    color: #fffff3 !important;
}

.my-search-button{
    margin-left: 4px;
    color: #797a7b !important;
    border-color: #acb0b5 !important;
    background-color: #ffffff;
}

/*.my-search-button:focus{
    border-color: #fff;
    box-shadow: none !important;
}

.my-search-button:hover {
    background-color: #dee2e6 !important;
    color:black !important;
}*/

.my-search-button.btn:hover {
    background-color: #7e8080 !important;
    color:black !important;
    border: 1px solid #999a9a !important;
    border-color: #999a9a !important;
    box-shadow: 1px 1px #999a9a;
}

.my-search-button.btn:focus{
/*     border-color: #fff;
    box-shadow: none !important; */
    background-color: #7e8080 !important;
    color:black !important;
    border: 1px solid #999a9a !important;
    border-color: #999a9a !important;
    box-shadow: 1px 1px #999a9a;
}

.my-signup .btn:focus{
    border-color: #fff;
    box-shadow: none !important;
}

.my-login .btn:focus{
    border-color: #fff;
    box-shadow: none !important;
}

.my-label-email{
    margin-top: 10px;
}

.my-label-email .fa.fa-envelope{
    font-size: 16px;
}

.my-label-password{
    margin-top: 10px;
}

.my-password-input{
    margin-bottom: 10px;
}

.my-password-remember {
    margin-left: 55px;
}

.my-label-password .fa.fa-lock{
    font-size: 16px;
}

.my-label-stay-login {
    margin-top: 10px;
    margin-left: 25px;
}

.below-nav-bar {
    min-width: 1300px;
    margin-top: 60px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: fit-content;
    grid-template-areas:
        "my-breadcrumb . login-area";
}

.my-breadcrumb{
    /*display: flex;
    justify-content: center;*/
    margin-left: auto;
    min-width: 300px;
    grid-area: my-breadcrumb;
    margin-top:10px;
}
.my-breadcrumb .breadcrumb{
    background-color: #fff !important;
    background: none !important;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "\003e";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.login-area{
    margin-right: auto;
    grid-area: login-area;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-column-gap: 5px;
    margin-top:10px;
}

.login-area.loggedin-user{
    margin-right: auto;
    grid-area: login-area;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-column-gap: 10px;
    margin-top:10px;
}

.my-hide{
    display: none;
}

.my-signup a{
    color: black;
    text-decoration: none;
}

.my-signup .btn{
    background-color: #dddddd;
    border-color: #dddddd;
}

.my-signup a:hover {
    color: black !important;
    text-decoration: none;
}

.my-submit{
    margin-top: 10px;
    margin-left: 75px;
}
.my-login{

}

.my-login a{
    color: black;
    text-decoration: none;
}

.my-login .btn{
    background-color: #dddddd;
    border-color: #dddddd;
}

.my-login a:hover {
    color: black !important;
    text-decoration: none;
}

.placeholder{
    height: 900px;
}

.form-control {width:120px;}
.popover {max-width:400px;}

.btn-group-vertical button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.main-content{
    flex-direction: row;
    justify-content: center;
    min-width: 1200px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-column-gap: 50px;
}

.student-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fb9c9c;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 450px;
}

.title-area{
    border-bottom: 1px solid #0e0e0e;
}

.button-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.section-button{
    border: 0;
    color: #212529;
    background-color: #fff;
    box-shadow: 5px 5px #888888;
    width: 240px;
    height: 75px;
    margin-top: 20px;
}

.student-area .section-button.btn:hover{
    background-color: #bf0808;
    border-color:#ea7a91;
    border:1px solid #ea7a91;
}

.student-area .section-button.btn{
    background-color: #ff5b5b;
}

.secretary-area a.section-button{

}

.publisher-area a.section-button{
}

.library-area a.section-button{
}

a.section-button{
    font-size: 18px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.section-button:hover{
    color: black !important;
}

.section-button:hover{
    background-color: yellow;
}

.section-button:focus{
    margin-top:20px;
    border-color: #fff !important;
    box-shadow: none !important;
}

.secretary-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b6dcef;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 450px;
}

.secretary-area .section-button.btn:hover{
    background-color: #7babc3;
    border-color:#76afcc;
    border:1px solid #76afcc;
}

.secretary-area .section-button.btn{
    background-color: #86c7e8;
}

.publisher-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #58e879;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 450px;
}

.publisher-area .section-button.btn:hover{
    background-color: #49b361;
    border-color:#368447;
    border:1px solid #368447;
}

.publisher-area .section-button.btn{
    background-color: #13c73c;
}

.library-area{
    background-color: #efe78f;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-area .section-button.btn:hover{
    background-color: #b7ac26;
    border-color:#948b20;
    border:1px solid #948b20;
}

.library-area .section-button.btn{
    background-color: #d6c82c;
}

.my-announcement{
    width: 1232px;
    margin-top:20px;
    margin-bottom:70px;
    background-color: #ddd;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 400px;
}

.footer {
    width: 100%;
    height: 50px;
    margin-top: -50px;
    padding-top: 10px;
}

/* Registration_form css */
.my-main-content-registration{
    min-width: 1100px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-reg-account-info{
    background-color: #ddd;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    margin-bottom: 30px;
    width: 600px;
}

.my-reg-account-info h{
    border-bottom: 1px solid #0e0e0e;
}

.my-reg-account-info .form-group{
    margin-top: 10px;
}

.my-reg-personal-info{
    background-color: #ddd;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    margin-bottom: 30px;
    width: 600px;
}

.my-reg-personal-info h{
    border-bottom: 1px solid #0e0e0e;
}

.my-reg-personal-info .form-group{
    margin-top: 10px;
}

.my-reg-law-info{
    background-color: #ddd;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    margin-bottom: 30px;
    width: 600px;
}

.my-reg-law-info h{
    border-bottom: 1px solid #0e0e0e;
}

.my-reg-law-info .form-group{
    margin-top: 10px;
}

.my-university-info{
    background-color: #ddd;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    margin-bottom: 30px;
    width: 600px;
}

.my-university-info h{
    border-bottom: 1px solid #0e0e0e;
}

.my-university-info .form-group{
    margin-top: 10px;
}

.my-reg-contact-info{
    background-color: #ddd;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

    margin-bottom: 30px;
    width: 600px;
}

.my-reg-contact-info h{
    border-bottom: 1px solid #0e0e0e;
}

.my-reg-contact-info .form-group{
    margin-top: 10px;
}

.my-req-star{
    color: red;
}

.my-registration-submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-registration-submit .btn:disabled {
    color: #fff;
    background-color: #aaa;
    border-color: #aaa;
}

.error-msg {
    margin-top: -15px;
    margin-bottom: 20px;
    color: red;
}

form.my-registration-from {
    margin-bottom: 100px;
}

.success-registration{
    color: green;
}

.error-msg-login {
    margin-top: 3px;
    color: red;
}

.groups-option-registration{
    margin-top: 50px;
    padding-left: 500px;
    padding-right: 400px;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-row-gap: 100px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.student-reg-opt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-reg-opt .btn{
    box-shadow: 5px 5px #545b62;
    background-color: #ff5b5b !important;
    border-color: #ff5b5b !important;
    width: 270px;
    height: 270px;
    padding-top: 70px;
}

.student-reg-opt a{
    font-size: 25px;
    color: black;
}

.student-reg-opt a:hover{
    color: black;
}

.student-reg-opt .btn:hover{
    box-shadow: 5px 5px #545b62 !important;
    background-color: #bf0808 !important;
    border-color: #bf0808 !important;
}

.student-reg-opt .btn:focus{
    /*border-color: #fff !important;*/
    box-shadow: none !important;
}

.secret-reg-opt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.secret-reg-opt .btn{
    box-shadow: 5px 5px #545b62;
    background-color: #b0dbed !important;
    border-color: #b0dbed !important;
    width: 270px;
    height: 270px;
    padding-top: 70px;
}

.secret-reg-opt a{
    font-size: 25px;
    color: black;
}

.secret-reg-opt a:hover{
    color: black;
}

.secret-reg-opt .btn:hover{
    box-shadow: 5px 5px #545b62 !important;
    background-color: #7bc6e5 !important;
    border-color: #7bc6e5 !important;
}

.secret-reg-opt .btn:focus{
    /*border-color: #fff !important;*/
    box-shadow: none !important;
}

.publisher-reg-opt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.publisher-reg-opt .btn{
    box-shadow: 5px 5px #545b62;
    background-color: #3ce77f !important;
    border-color: #3ce77f !important;
    width: 270px;
    height: 270px;
    padding-top: 70px;
}

.publisher-reg-opt a{
    font-size: 25px;
    color: black;
}

.publisher-reg-opt a:hover{
    color: black;
}

.publisher-reg-opt .btn:hover{
    box-shadow: 5px 5px #545b62 !important;
    background-color: #00c54a !important;
    border-color: #00c54a !important;
}

.publisher-reg-opt .btn:focus{
    /*border-color: #fff !important;*/
    box-shadow: none !important;
}

.library-reg-opt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.library-reg-opt .btn{
    box-shadow: 5px 5px #545b62;
    background-color: #f1e694 !important;
    border-color: #f1e694 !important;
    width: 270px;
    height: 270px;
    padding-top: 70px;

}

.library-reg-opt a{
    font-size: 25px;
    color: black;
}

.library-reg-opt a:hover{
    color: black;
}

.library-reg-opt .btn:hover{
    box-shadow: 5px 5px #545b62 !important;
    background-color: #d8c644 !important;
    border-color: #d8c644 !important;
}

.library-reg-opt .btn:focus{
    /*border-color: #fff !important;*/
    box-shadow: none !important;
}

.strongPass{
    color: green;
}

.mediumPass{
    color: orange;
}

.weakPass{
    color: #dc3545;
}

#myBirthDate-reg .fa-calendar:before {
    content: "\f073";
    position: relative;
    left: 6px;
    top: 6px;
}

.datepicker {
    top: 657px !important;
    left: 877.328px !important;;
}

.search-container.myBooksSearch {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

input.MySearchBookSearchBox {
    width: 1000px;
    height: 60px;
    font-size: 25px;
    padding-left: 10px;
    border: 1px solid #676666;
    border-radius: 15px;
}

input.MySearchBookSearchBox:focus {
    outline: none !important;
    box-shadow: none;
    border: 1px solid #2104ff;
}

button.MySearchBookSearchButton {
    color: #212529;
    background-color: #343940 !important;
    border-color: #343940 !important;
    width: 75px;
    cursor: pointer;
    border-radius: 15px;
}

button.MySearchBookSearchButton:hover .fa.fa-search{
    color: #fffff3 !important;
}

button.MySearchBookSearchButton:focus{
    outline: none !important;
    box-shadow: none;
}

button.MySearchBookSearchButton .fa.fa-search {
    font-size: 35px;
    color: #a8acad !important;
}

.mySearchBookResultsCount {
    display: flex;
    justify-content: center;
    font-size: 25px;
    word-spacing: 5px;
    margin-top: 15px;
}

span.mySearchBookCounter {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.mySearchBookOneResult {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-top: 20px;
    background: #dddddd;
    grid-template-columns: 250px 1fr;
    display: grid;
    grid-template-areas:
        "book-image book-title"
        "book-image book-authors"
        "book-image book-publisher"
        "book-image book-isbn"
        "book-comments book-page";
    padding: 30px;
    border: 1px solid #212529;
    border-radius: 8px;
    box-shadow: 4px 3px #999;
}

.book-image {
    grid-area: book-image;
}

.book-title {
    grid-area: book-title;
    font-size: 25px;
}

.book-authors {
    grid-area: book-authors;
    font-size: 18px;
}

.book-publisher {
    grid-area: book-publisher;
    font-size: 18px;
}

.book-isbn {
    grid-area: book-isbn;
    font-size: 18px;
}

.book-comments {
    grid-area: book-comments;
    margin-top: 25px;
}

.book-page {
    grid-area: book-page;
    justify-self: right;
    margin-top: 25px;
}

.endOfResultsPlaceHolder {
    height: 300px;
}

.myBooksSearchFiltersButton {
    width: 1075px;
    margin-left: auto;
    margin-right: auto;
}

.myBooksSearchFiltersButton .btn{
    border: 0;
    color: #212529;
    box-shadow: 4px 4px #9fa1a2;
    background-color: #343940 !important;
    border-color: #343940 !important;
    width: 240px;
    height: 75px;
    margin-top: 20px;
}

.myBooksSearchFiltersButton .btn:hover{

}

.myBooksSearchFiltersButton a{
    font-size: 18px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a8acad !important;
}

.myBooksSearchFiltersButton a:hover{
    color: #fffff3 !important;
}

.myBooksSearchFiltersButton .btn:focus{
    margin-top:20px;
    border-color: #fff !important;
    box-shadow: none !important;
}

#filterButtonIcon {
    font-size: 35px;
    position: relative;
    left: 30px;
}

.openFilters .btn {
    background: #8e8d8d;
}

.myHiddenClass{
    display: none;
}

.myBooksSearchFiltersInput {
    background-color: #ddd;
    padding: 25px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 30px;
    width: 1075px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.myBooksSearchFiltersInput .form-group.row {
    margin-bottom: 35px;
}

.myBooksSearchFiltersInput .col-form-label{
    font-size: 20px;
    font-weight: 500;
}

.myBooksSearchFiltersInput .form-control{
    padding-bottom: 10px;
    padding-top: 10px;
}

#myFilterApplyButton.btn{
    border: 0;
    color: #212529;
    background-color: #f8f9fa;
    box-shadow: 5px 5px #888888;
    width: 240px;
    height: 75px;
    margin-top: 20px;
}

#myFilterApplyButton.btn:hover{
    background-color: #999;
}

a#myFilterApplyButton{
    font-size: 18px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

a#myFilterApplyButton:hover{
    color: black !important;
}

#myFilterApplyButton.btn:focus{
    margin-top:20px;
    border-color: #fff !important;
    box-shadow: none !important;
}

.my-calendar .form-control {
    background: white !important;
}

.my-profile-info .my-reg-contact-info {
    margin-bottom: 80px;
}

.my-profile-info .fa.fa-pencil-alt{
    cursor: pointer;
}

.my-profile-info .fa.fa-check{
    cursor: pointer;
}

.back-to-reg-options {
    width: 400px;
    position: relative;
    left: 345px;
}

.back-to-reg-options .btn{
    box-shadow: 4px 4px #9fa1a2;
    background-color: #343940 !important;
    border-color: #343940 !important;
}

.back-to-reg-options a.btn{
    color: #a8acad;
    text-decoration: none;
}

.back-to-reg-options a.btn:hover{
    color: #fffff3;
}

.student-app-content {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 320px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    display: grid;
    grid-template-areas:
        "new-dilosi-button edit-current-button current-dilosi"
        "exchange-button history-button current-dilosi"
        "remaining-books remaining-books remaining-books";
}

.new-dilosi-button {
    grid-area: new-dilosi-button;
}

.edit-current-button {
    grid-area: edit-current-button;
}

.current-dilosi {
    grid-area: current-dilosi;
    border: 2px solid #343940;
    background: #ff5b5b;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.exchange-button {
    grid-area: exchange-button;
}

.history-button{
    grid-area: history-button;
}

.remaining-books {
    grid-area: remaining-books;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
}

.student-app-button .btn{
    box-shadow: 5px 5px #545b62;
    background-color: #ff5b5b !important;
    border-color: #ff5b5b !important;
    width: 270px;
    height: 140px;
}

.student-app-button .btn:hover{
    background-color: #bf0808 !important;
    border-color:#bf0808 !important;
    border:1px solid #bf0808 !important;
}

.student-app-button a.btn{
    color: black !important;
    font-size: 20px !important;
    display: flex;
    justify-content: center;
}

.student-app-button a.btn:hover{
    color: black !important;
}

.student-app-button .button-text{
}

.current-dilosi .title{
    margin-top: 10px;
}

.current-dilosi .my-pin{
    margin-top: 30px;
    border: 1px solid black;
    background: #9c9ea2;
    border-radius: 10px;
    padding: 10px;
    width: 280px;
}

.current-subjects {
    margin-top: 40px;
    background: #9c9ea2;
    margin-left: 15px;
    margin-right: 15px;
}

.current-subjects .table{
    margin-bottom: 0;
    font-size: 15px;
}

.current-subjects .table th{
    text-align: center;
}

.current-subjects .table td{
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    vertical-align: middle;
}

.current-subjects .table input[type=checkbox]{
    width: 15px;
    height: 15px;
}

.secretary-app-content {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 320px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    display: grid;
    grid-template-areas:
        "edit-books my-agenta"
        "edit-program-studies my-agenta";
}

.edit-books {
    grid-area: edit-books;
}

.edit-program-studies{
    grid-area: edit-program-studies;
}

.secretary-app-button .btn{
    box-shadow: 5px 5px #545b62;
    background-color: #86c7e8 !important;
    border-color: #86c7e8 !important;
    width: 270px;
    height: 140px;
}

.secretary-app-button .btn:hover{
    background-color: #7babc3 !important;
    border-color:#76afcc !important;
    border:1px solid #76afcc !important;
}

.secretary-app-button a.btn{
    color: black !important;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secretary-app-button a.btn:hover{
    color: black !important;
}

.secretary-app-button .button-text{

}

.my-agenta .title{
    margin-top: 10px;
}

.my-agenta {
    grid-area: my-agenta;
    border: 2px solid #343940;
    background: #86c7e8;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.my-agenta .my-reminder{
    margin-top: 30px;
    border: 1px solid black;
    background: #9c9ea2;
    border-radius: 10px;
    padding: 10px;
    width: 425px;
}

.my-reminder .fa.fa-exclamation {
    font-size: 20px;
    color: red;
}

.verify-program{
    margin-top: 10px;
    margin-left: 220px;
}

.verify-program .btn{
    box-shadow: 5px 5px #8b8e90;
    background-color: #b5b5b5 !important;
    border-color: #b5b5b5 !important;
    width: 195px;
    height: 40px;
}

.verify-program .btn:hover{
    background-color: #9c9ea2 !important;
    border-color:#9c9ea2 !important;
    border:1px solid #9c9ea2 !important;
}

.verify-program a.btn{
    color: black !important;
    font-size: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-program a.btn:hover{
    color: black !important;
}

.subjects-to-verify {
    background: #9c9ea2;
    margin-left: 15px;
    margin-right: 15px;
}

.subjects-to-verify .table{
    margin-bottom: 0;
    font-size: 15px;
}

.subjects-to-verify .table th{
    text-align: center;
}

.subjects-to-verify .table td{
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    vertical-align: middle;
}

.verify-subjects .btn{
    box-shadow: 5px 5px #8b8e90;
    background-color: #b5b5b5 !important;
    border-color: #b5b5b5 !important;
    width: 210px;
    height: 40px;
}

.verify-subjects .btn:hover{
    background-color: #9c9ea2 !important;
    border-color:#9c9ea2 !important;
    border:1px solid #9c9ea2 !important;
}

.verify-subjects a.btn{
    color: black !important;
    font-size: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-subjects a.btn:hover{
    color: black !important;
}

.verify-subjects{
    margin-top: 10px;
}

.title-of-table {
    margin-top: 40px;
}

.user-options .card a {
    color: black;
}

.user-options .card {
    background: none;
    border: none;
}

.user-options .card-header {
    box-shadow: 0px 1px 20px 1px red;
    background: #f89b9c;
    width: 200px;
    border-radius: 0px 0px 50px 30px;
}

.user-options .card-body {
    box-shadow: 1px 1px 15px 1px red;
    background: #f89b9c;
    height: 90px;
    border-radius: 0px 0px 20px 0px;
}

.user-options{
    margin-top: 50px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.user-options-buttons .btn {
    align-self: flex-end;
    border: 0;
    color: #212529;
    background-color: #ff5b5b;
    box-shadow: 5px 5px #888888;
    width: 240px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-options-buttons .btn.my-ml{
    margin-left: 20px;
}

.user-options-buttons .btn:hover{
    background-color: #bf0808;
    border-color:#ea7a91;
    border:1px solid #ea7a91;
}

.user-options-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
